body{
  background-color: #8093F1;
  text-align: center;
  font-family: monospace;
}
p{
  font-size: 5rem;
  font-weight: bold;
  color: #add8e6;
}
button{
  cursor: pointer;
  color: white;
}
label{
  color: white;
  font-size: 1rem;
  margin-left: 15%;
}
.btn{
  background-color: #70566D;
  border: none;
}
.btn:hover{
  background-color: #42273B;
}
.exit{
  background-color: #42273B;
  color: white;
  padding: 5px 12px;
}
.vv{
  position: absolute;
  left: 5px;
  top: 5px;
}
.ex{
  margin-right: 100%;
  font-size: 20px;
  border: none;
  border-radius: 100%;
  margin-bottom: 30px;
}
tr:nth-child(even){
  background-color: #E5E5E5;
}
tr:nth-child(odd){
  background-color: #F4F4ED;
}
td:nth-child(7){
  background-color: #8093F1;
  padding-right: 0px;
  margin-right: 0px;
  position: relative;
  left: 5px;
}
td:nth-child(8){
  background-color: #8093F1;
  padding-left: 5px;
  margin-right: 0;
  cursor: pointer;
}

.exit:hover{
  background-color: #8b0000
}
tr{
  font-family: serif;
  font-size: 1.2rem;
}
table{
  border: none;

}
#edit{
  display: none;
}
#contacts, #editContact{
  display: none;
  text-align: left;
  width: 100%;
  margin-top: 10%;
}
input{
  background-color: #F4F4ED;
  border: none;
  width: 60%;
  display: block;
  padding: 15px 8px;
  font-size: 0.7rem;
  margin-left: 15%;
}
#buttons button{
  padding: 25px 30px;
  margin: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
}
.btnn{
  text-align: center;
}
#displayContacts{
  margin-top: 50px;
}
#viewContacts{
  display: none;
}
#displayContacts{
  width: 100%;
  text-align: left;
}
#editContact{
  display: none;
}
.edit{
  padding: 5px 5px;
}
.btnn{
  border: none;
  color: white;
  margin: 2rem 25%;;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  cursor:pointer;
}
/* Hides Arrows From Input Number*/
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
